/* Stylesheet for Home Page */

/* Background color */
body {
    background-color: lightslategray;
}

/* Container formatting */
.container {
    border: 1px solid;
    background-color: ivory;
    margin-top: 10px;
    max-width: 750px;
}

/* Jumbotron formatting */
.jumbotron {
   text-align: center;
   margin: 10px;
}


/* Text formatting */
p {
    padding-right: 15px;
}